<section>
    <div class="box-contact">

        <div class="container">
            <h1>{{'Locale.History' | translate}}</h1>


            <div class="row" style="margin-left:0px;margin-right:0px;">

                
                <div class="box">
                    <img src="assets/smart-image/cancel.svg">
    <p class="number-order" ><span class="sp-one">{{'Locale.Order NO.' | translate}}</span> <span class="sp-tow">#253161 </span></p>
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="order">
                                <div class="total">
                                    <div>{{'Locale.Order Date:' | translate}} : 22/8/2019</div>
                                    <div>{{'Locale.Total' | translate}} : <span> L.E 1100</span></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                                <div class="div-center">
<div class="amazon">
<div><h5>{{'Locale.Amazon Alexa' | translate}}</h5> <span class="price"> $1100</span> <span class="number"> 2</span></div>
<div><h5>{{'Locale.Amazon Alexa' | translate}}</h5> <span class="price"> $1100</span> <span class="number"> 2</span></div>
<div><h5>{{'Locale.Amazon Alexa' | translate}}</h5> <span class="price"> $1100</span> <span class="number"> 2</span></div>
</div>
                    </div>
                            </div>
                    </div>
                </div>




                <div class="box">
                        <img src="assets/smart-image/cancel.svg">
                        <p class="number-order">Order NO. <span style="float:right;">#253161 </span></p>
                        <div class="row">
    
                            <div class="col-lg-6 col-md-6">
                                <div class="order">
                                    <div class="total">
                                        <div>Order Date: 22/8/2019</div>
                                        <div>Total : <span> L.E 1100</span></div>
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                    <div class="div-center">
                                        <div class="amazon">
                                            <div><h5>Amazon Alexa</h5> <span class="price"> $1100</span> <span class="number"> 2</span></div>
                                            <div><h5>Amazon Alexa</h5> <span class="price"> $1100</span> <span class="number"> 2</span></div>
                                            <div><h5>Amazon Alexa</h5> <span class="price"> $1100</span> <span class="number"> 2</span></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
    


            </div>
        </div>

    </div>
</section>