@import 'bootstrap/dist/css/bootstrap.css';

/* Custom fonts */
@font-face {
  src: url("/fonts/raleway/Raleway-Regular.ttf");
  font-family: Raleway-Regular;
}

@font-face {
  src: url("/fonts/raleway/Raleway-ExtraBold.ttf");
  font-family: Raleway-ExtraBold;
}

@font-face {
  src: url("/fonts/raleway/Raleway-Light.ttf");
  font-family: Raleway-Light;
}

@font-face {
  src: url("/fonts/raleway/Raleway-Medium.ttf");
  font-family: Raleway-Medium;
}

@font-face {
  src: url("/fonts/raleway/Raleway-SemiBold.ttf");
  font-family: Raleway-SemiBold;
}

@font-face {
  src: url("/fonts/raleway/Raleway-Bold.ttf");
  font-family: Raleway-Bold;
}

@font-face {
  src: url("/fonts/raleway/Raleway-Black.ttf");
  font-family: Raleway-Black;
}

@font-face {
  src: url("/fonts/josefin-sans/JosefinSans-SemiBold.ttf");
  font-family: JosefinSans-SemiBold;
}

html, body {
  width: 100%;
  height: 100%;
  padding-top: 35px;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: calc(100% - 265px);
  display: flex;
}

.push {
  height: 265px;
}

.fb_iframe_widget iframe {
  height: auto !important;
}