.bac-img {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-top: 45px;
}

.bac-img::before {
  background-image: url("src/assets/smart-image/login.png");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  content:"";
  position: absolute;
  top:0;
  height:100%;
}
.rtl .bac-img {
  direction: rtl;
  text-align: right;
}

.rtl .bac-img::before{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


#passwordtext {
  margin-top: 30px;
  color: #721c24;
  font-size: 12px;
  position: absolute
}

.signup-form .group {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  max-width: 315px;
}

.signup-form input {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid rgba(207, 207, 207, 0.8);
  width: 100%;
}

 input:focus {
  outline: none;
}


.signup-form label {
  font-family: Raleway-Regular;
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.rtl .signup-form label {
  left: auto;
  right:5px;
  font-family: expo-bold;
}
/* active state */
.signup-form input:focus ~ label, .signup-form input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #01B0FF;
}

/* BOTTOM BARS ================================= */
.signup-form .bar {
  position: relative;
  display: block;
  width: 300px;
}

.signup-form .bar:before, .signup-form .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #01B0FF;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.signup-form .bar:before {
  left: 50%;
}

.signup-form .bar:after {
  right: 50%;
}

/* active state */
.signup-form input:focus ~ .bar:before, .signup-form input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.signup-form .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.signup-form .bar {
  position: relative;
  display: block;
  width: 312px;
}


/* active state */
.signup-form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #01B0FF;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #01B0FF;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #01B0FF;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.signup-form {
  margin-top: 50px;
}
.signup-form .btn-success {
  background-color: #01B0FF;
  font-family: Raleway-Regular;
  border: none;
  margin-top: 10px;
  height: 50px;
  border-radius: 2px;
  max-width: 315px;
  width: 100%;
  font-size: 18px;
}
.rtl .signup-form .btn-success{
  font-family: expo-bold;
}
.alert-tranparent {
  font-size: 12px;
  margin-left: -15px;
  color: #721c24;
  top: 42px;
  position: absolute;
}

.social-login {
  text-align:center;
  margin-top:40px;
  color:#363636;
  font-family:Raleway-Regular;
  cursor: pointer;
}
.rtl .social-login{
  font-family: expo-bold;
}
.login-link{
  cursor: pointer;
  margin-top:18px;
  color:#363636;
  font-family:Raleway-Regular;
  width:100%;
  text-align: center;
  display: block;
}
.rtl .login-link{
  font-family: expo-bold;
}
@media (max-width: 600px) {
 .signup-form{
    text-align: center;
  }
 .signup-form  .group, .login-link {
    margin-right: auto;
    margin-left: auto;
  }
}
