/* Raleway Regular */
@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/raleway/Raleway-Regular.ttf") format("truetype");
}
/* Raleway ExtraBold */
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("/fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
}
/* Raleway Light */
@font-face {
  font-family: "Raleway-Light";
  src: url("/fonts/raleway/Raleway-Light.ttf") format("truetype");
}
/* Raleway Medium */
@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
/* Raleway SemiBold */
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("/fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}
/* Raleway Bold */
@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/raleway/Raleway-Bold.ttf") format("truetype");
}
/* Raleway Black */
@font-face {
  font-family: "Raleway-Black";
  src: url("/fonts/raleway/Raleway-Black.ttf") format("truetype");
}
/* JosefinSans SemiBold */
@font-face {
  font-family: "JosefinSans-SemiBold";
  src: url("/fonts/josefin-sans/JosefinSans-SemiBold.ttf") format("truetype");
}
/* ExpoArabic Bold */
@font-face {
  font-family: "expo-bold";
  src: url("/fonts/ExpoArabic/ExpoArabic-Bold.otf") format("opentype");
}
/* ISF kut */
@font-face {
  font-family: "ISF kut";
  src: url("/fonts/isfkuf/ArbFONTS-22840-isfkut.otf") format("opentype");
}
